<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>UMTD - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery-min")
    @Scripts.Render("~/bundles/jquery-ui-min")
    @Scripts.Render("~/bundles/knockout")

    @Scripts.Render("~/bundles/helper")
    @Scripts.Render("~/bundles/datamodel")
    @Scripts.Render("~/bundles/layout")

    @Styles.Render("~/Styles/jquery-ui-css")
    @Styles.Render("~/Styles/jquery-ui-theme-css")
    @Styles.Render("~/Styles/jquery-ui-struct-css")
    @Styles.Render("~/Styles/amazium")
    @Styles.Render("~/Styles/site")
</head>
<body>        
    @if (Session["user"] == null)
    {
        <div id="login-link">
            <a class="spa-link" id="show-login-dialog">Login</a>
            <div id="dialog-login" title="Login">
                <div class="form-error"></div>
                <form>
                    <fieldset>
                        <label for="email">Email</label>
                        <input type="text" id="email" />
                    </fieldset>
                    <fieldset>
                        <label for="password">Password</label>
                        <input type="text" id="password" />
                    </fieldset>
                    <div width="100%">
                        <div align="left" style="float: left">
                            <fieldset>
                                <span class="checkbox">
                                    <span>
                                        <input type="checkbox" id="remember">
                                        <label for="remember">Remember me</label>
                                    </span>
                                </span>
                            </fieldset>
                        </div>
                        <div align="right">
                            <button class="btn btn--color-positive" id="do-login">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <div id="profile-link">

        </div>
    }
    @RenderBody()
</body>
</html>
