 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>UMTD - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery-min")
    @Scripts.Render("~/bundles/jquery-ui-min")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/helper")
    @Scripts.Render("~/bundles/datamodel")

    @Styles.Render("~/Styles/jquery-ui-css")
    @Styles.Render("~/Styles/jquery-ui-theme-css")
    @Styles.Render("~/Styles/jquery-ui-struct-css")
    @Styles.Render("~/Styles/amazium")
    @Styles.Render("~/Styles/site")
</head>
<body>        
    @RenderBody()
</body>
</html>
